{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "exclude": [
    "typings",
    "coverage",
    "**/__tests__/**"
  ],
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "reporter": [
    "lcov",
    "html"
  ],
  "sourceMap": true,
  "instrument": true
}